.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 900;
    line-height: 1.1em;
  }

  &__text {
    font-size: 2rem;
    line-height: 1.4em;
  }

  &__image {
    border-radius: 1.6rem;
  }

  &__calculator {
    background-color: $primaryLightColor;
    padding: 2.4rem 13rem;
    border-radius: 1.6rem;

    &-title {
      text-align: center;
      font-weight: 700;
      margin-bottom: 1.6rem;
      padding: 0 6.9rem;
    }

    &-subtitle {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5em;
      text-align: center;
      margin-bottom: 2.4rem;
      padding: 0 6.9rem;
    }

    &-form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;

      #name{
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &-btn {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
}

@media screen and (max-width: $desktop){

}

@media screen and (max-width: $lg){
}

@media screen and (max-width: $md){

}

@media screen and (max-width: $sm){

}