.header {
  width: 100%;
  background-color: $primaryLightColor;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    padding: 2.4rem 0;
  }

  &__item {
    @extend %flex-c-sb;
  }

  &__info {
    @extend %flex-c-end;

    &-conditions {
      @extend %flex-end-end-column;
      padding-right: 1.2rem;
      border-right: 1px solid $primaryPurpleColor;

      p {
        line-height: 1.5em;
      }
    }
  }

  &__nav {
    @extend %flex-c-start;
    gap: 2.4rem;
  }
}


@media screen and (max-width: $lg) {
  .header {
    &__wrapper {
      position: relative;
      padding-bottom: 9rem;
    }

    &__info {

      &-conditions {
        height: 4.8rem;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 2.4rem;
        left: 0;
        border: none;
        font-size: 1.4rem;
        gap: 8px;
        padding: 0 3.2rem;

        p:not(:last-child){
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding-right: 5rem;
        }

        p:last-child{
          white-space: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: $md) {

}

@media screen and (max-width: $sm) {

}