.header {
  width: 100%;
  background-color: $primaryLightColor;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    padding: 2.4rem 0;
  }

  &__item {
    @extend %flex-c-sb;
  }

  &__info {
    @extend %flex-c-end;

    &-conditions {
      @extend %flex-end-end-column;
      padding-right: 1.2rem;
      border-right: 1px solid $primaryPurpleColor;

      p {
        line-height: 1.5em;
      }
    }
  }

  &__nav {
    @extend %flex-c-start;
    gap: 2.4rem;
  }

  &__burger{
    display: none;
  }
}


@media screen and (max-width: $lg) {
  .header {
    &__wrapper {
      position: relative;
      padding-bottom: 9rem;
    }

    &__item:nth-child(2) {
      border-top: 1px solid $primaryPurpleColor;
      border-bottom: 1px solid $primaryPurpleColor;
      padding: 1.2rem 0;
    }

    &__info {
      &-conditions {
        height: 4.8rem;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 2.4rem;
        left: 0;
        border: none;
        font-size: 1.4rem;
        gap: 8px;
        padding: 0 3.2rem;

        p:not(:last-child) {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding-right: 5rem;
        }

        p:last-child {
          white-space: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .header {
    height: 9rem;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    &.header_open{
      height: auto;
      border-bottom-left-radius: 1.6rem;
      border-bottom-right-radius: 1.6rem;

      .header__wrapper{
        padding-bottom: 9rem;
      }

      .header__burger{
        position: relative;

        &-item{
          //position: absolute;
          //left: 0;
          //top: 0;
          //bottom: 0;
          //margin: auto 0;
          //transition: .3s all;

          &:first-child{
            //transform: rotate(135deg);
            width: 60%;
          }

          &:nth-child(2){
            width: 80%;
            //display: none;
          }

          &:last-child{
            //transform: rotate(45deg);
          }
        }
      }
    }

    &__wrapper{
      padding: 8px 0;
    }

    &__info{
      justify-content: space-between;
      &-conditions{
        font-size: 1.4rem;
        padding: 0;
      }
    }

    .contacts {
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: row;
      gap: 1.6rem;
      padding: 0;

      &__number {
        font-size: 2rem;
      }

      &__free {
        display: none;
      }

      .header__burger {
        justify-items: end;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        width: 24px;
        height: 16px;

        &-item {
          margin: 0;
          width: 100%;
          height: 4px;
          background: $primaryPurpleColor;
          border-radius: 100px;
        }
      }
    }
  }
}
