<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8"/>
	<link rel="icon" type="image/svg+xml" href="/vite.svg"/>
	<link rel="shortcut icon" href="./src/assets/images/logo.svg" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Delivery from board</title>
</head>
<body>
<div class="page">
	{% include "./src/components/header.html" %}
	<main class="main">
		<div class="container">
			<div class="main__wrapper">
				{% include "./src/components/about.html" %}
				{% include "./src/components/advantage.html" %}
				{% include "./src/components/guaranty.html" %}
				{% include "./src/components/reviews.html" %}
			</div>
		</div>
	</main>
	{% include "./src/components/footer.html" %}
</div>
<script type="module" src="/src/js/main.js"></script>
</body>
</html>
