<section class="about">
	<div class="about__content">
		<h1 class="about__title">
			Без проблемная доставка купленных вещей из США, Европы и Азии в Россию
		</h1>
		
		<div class="about__text">
			<p>
				Сэкономьте на покупках и наслаждайтесь мировыми брендами —
				наш сервис позволяет вам легко и удобно заказывать товары со всего
				мира и получать их в России
			</p>
		</div>

		<img src="./src/assets/images/about.png" alt="about image" class="about__image">
	</div>

	<div class="about__calculator">
		<h3 class="about__calculator-title">Калькулятор доставки</h3>

		<h4 class="about__calculator-subtitle">
			Посчитайте, сколько будет стоить перевозка покупки из зарубежа
		</h4>

		<form action="" class="about__calculator-form">
			<input placeholder="Имя" type="text" id="name" name="name" class="input">
			<input placeholder="Почта" type="email" id="email" name="email" class="input">
			<input placeholder="Телефон" type="text" id="phone" name="phone" class="input">
			<input placeholder="Общая площадь, м²" type="number" id="square" name="square" class="input">
			<input placeholder="Вес, кг" type="number" id="weight" name="weight" class="input">
			<input placeholder="Страна покупки" type="text" id="country" name="country" class="input">
			<input placeholder="Город покупки" type="text" id="city_from" name="city_from" class="input">
			<input placeholder="Область доставки" type="text" id="area_to" name="area_to" class="input">
			<input placeholder="Город доставки" type="text" id="city_to" name="city_to" class="input">
			<button class="about__calculator-form-btn btn">Заказать расчёт</button>
		</form>
	</div>

</section>