<section class="advantage">
	<h3 class="advantage__title title">Наши преимущества</h3>

	<ul class="advantage__list">
		<li class="advantage__list-item">
			<img class="advantage__list-item-image" src="./src/assets/images/advantage/advantage1.svg" alt="">
			<div class="advantage__list-item-content">
				<h4 class="advantage__list-item-title">Растоможка груза</h4>
				<div class="advantage__list-item-text">
					<p>
						Мы берём на себя все формальности и бумажную волокиту, связанную с растаможкой груза
					</p>
				</div>
			</div>
		</li>

		<li class="advantage__list-item">
			<img class="advantage__list-item-image" src="./src/assets/images/advantage/advantage2.svg" alt="">
			<div class="advantage__list-item-content">
				<h4 class="advantage__list-item-title">Надёжная упаковка</h4>
				<div class="advantage__list-item-text">
					<p>
						Все товары упаковываются нашими специалистами с особым вниманием к деталям, гарантируя, что они дойдут в безопасности и в отличном состоянии
					</p>
				</div>
			</div>
		</li>

		<li class="advantage__list-item">
			<img class="advantage__list-item-image" src="./src/assets/images/advantage/advantage3.svg" alt="">
			<div class="advantage__list-item-content">
				<h4 class="advantage__list-item-title">Быстро и выгодно</h4>
				<div class="advantage__list-item-text">
					<p>
						Мы предлагаем быструю и выгодную доставку, чтобы вы могли насладиться покупками как можно скорее.
					</p>
				</div>
			</div>
		</li>

		<li class="advantage__list-item">
			<img class="advantage__list-item-image" src="./src/assets/images/advantage/advantage4.svg" alt="">
			<div class="advantage__list-item-content">
				<h4 class="advantage__list-item-title">Удобный сервис</h4>
				<div class="advantage__list-item-text">
					<p>
						Стремимся сделать процесс доставки максимально удобным для вас, чтобы опыт остался приятным и беззаботным
					</p>
				</div>
			</div>
		</li>

		<li class="advantage__list-item">
			<img class="advantage__list-item-image" src="./src/assets/images/advantage/advantage5.svg" alt="">
			<div class="advantage__list-item-content">
				<h4 class="advantage__list-item-title">Прозрачность работы</h4>
				<div class="advantage__list-item-text">
					<p>
						Мы предоставляем полный контроль над каждым этапом доставки, от момента заказа до момента прибытия заказа
					</p>
				</div>
			</div>
		</li>

		<li class="advantage__list-item">
			<img class="advantage__list-item-image" src="./src/assets/images/advantage/advantage6.svg" alt="">
			<div class="advantage__list-item-content">
				<h4 class="advantage__list-item-title">Страхование груза</h4>
				<div class="advantage__list-item-text">
					<p>
						Наше страхование обеспечивает полную защиту и покрытие почти все неприятные и неожиданные ситуации
					</p>
				</div>
			</div>
		</li>

	</ul>
</section>