<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">

			<div class="footer__item">
				<div class="footer__logo">
					<a href="#" class="logo logo_light">
						<img src="./src/assets/images/logo.svg" alt="logo" class="logo__image">
						<span class="logo__text">FromBoard Delivery</span>
					</a>
					<small class="footer__copyright">
						<span>2023 © Ни одно право не защищено, копируйте сколько влезет</span>
						<img src="./src/assets/images/Quotes.svg" alt="smile">
					</small>
				</div>

				<nav class="footer__nav">
					<a href="#" class="footer__link link_light">Калькулятор</a>
					<a href="#" class="footer__link link_light">О нас</a>
					<a href="#" class="footer__link link_light">Гарантии</a>
					<a href="#" class="footer__link link_light">Отзывы</a>
				</nav>

				<div class="footer__contacts contacts_light">
					<a href="tel:+7 (800) 123 45-67" class="footer__contacts-number contacts__number">+7 (800) 123 45-67</a>
					<strong class="footer__contacts-free contacts__free">Звонки по России бесплатны</strong>
				</div>
			</div>

			<div class="footer__item">
				<div class="footer__rights">
					НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ. Просим обратить внимание на то, что цены носят информационный и ознакомительный характер,
					а значит ни в какой мере не являются публичной офертой, которая определена в ст. 437 ГК РФ. Вся информация на сайте может содержать
					неточности, орфографические и иные ошибки, она не является полной, окончательно и исчерпывающей
				</div>
				<div class="footer__author">
					<p>Разработкой макета занимался</p>
					<a target="_blank" href="https://t.me/stylelifeweb">StyleLifeWeb | Васильев Александр</a>
				</div>
			</div>
		</div>
	</div>
</footer>