<section class="guaranty">
	<h3 class="guaranty__title title">Гарантии качества</h3>
	
	<div class="guaranty__text">
		<p>
			Наши гарантии качества включают в себя полный спектр документов, необходимых для ввоза и вывоза товаров, а также
			для успешного бизнеса на мировом рынке.
			Мы предоставляем вам надёжность и уверенность
		</p>
	</div>
	
	<ul class="guaranty__list">
		<li class="guaranty__list-item">
			<img class="guaranty__list-item-image" src="./src/assets/images/guaranty/guaranty1.png" alt="">
		</li>

		<li class="guaranty__list-item">
			<img class="guaranty__list-item-image" src="./src/assets/images/guaranty/guaranty2.png" alt="">
		</li>

		<li class="guaranty__list-item">
			<img class="guaranty__list-item-image" src="./src/assets/images/guaranty/guaranty3.png" alt="">
		</li>

		<li class="guaranty__list-item">
			<img class="guaranty__list-item-image" src="./src/assets/images/guaranty/guaranty4.png" alt="">
		</li>
	</ul>

	<a href="#" class="guaranty-link btn">Показать больше документов</a>
</section>