<header class="header header_open">
	<div class="container">
		<div class="header__wrapper">
			<div class="header__item">
				<a href="#" class="logo">
					<img src="./src/assets/images/logo.svg" alt="logo" class="logo__image">
					<span class="logo__text">FromBoard Delivery</span>
				</a>

				<div class="header__info">

					<div class="header__info-conditions">
						<p>Доставляем товары из заграницы в Россию</p>
						<p>Стоимость от 550 рублей за заказ</p>
						<p>1 $ = 93 ₽ | 1 € = 99 ₽ | 1 ¥ = 13 ₽</p>
					</div>

					<div class="contacts">
						<a href="tel:+7 (800) 123 45-67" class="contacts__number">+7 (800) 123 45-67</a>
						<strong class="contacts__free">Звонки по России бесплатны</strong>
						<button id="burger-btn" class="header__burger">
							<span class="header__burger-item"></span>
							<span class="header__burger-item"></span>
							<span class="header__burger-item"></span>
						</button>
					</div>

				</div>
			</div>

			<div class="header__item">

				<nav class="header__nav">
					<a href="#" class="header__link link">Калькулятор</a>
					<a href="#" class="header__link link">О нас</a>
					<a href="#" class="header__link link">Гарантии</a>
					<a href="#" class="header__link link">Отзывы</a>
				</nav>

				<button class="btn">Оставить заявку</button>

			</div>
		</div>
	</div>
</header>