<section class="questions">
  <h3 class="questions__title title">Остались вопросы?</h3>

  <form action="" class="questions__form">
    <input class="questions__form-input input" id="name" name="name" type="text" placeholder="Имя">
    <input class="questions__form-input input" id="email" name="email" type="email" placeholder="Почта">
    <input class="questions__form-input input" id="phone" name="phone" type="tel" placeholder="Телефон">
    <input class="questions__form-input input" id="theme" name="theme" type="text" placeholder="Тема вопроса">
    <textarea class="questions__form-textarea input" id="message" name="message" rows="4" placeholder="Сообщение..."></textarea>
    <button class="questions__form-btn btn" type="submit">Оставить заявку</button>
  </form>
</section>