<section class="reviews">
	<h3 class="reviews__title title">Отзывы</h3>

	<div class="reviews__slider">
		<button class="reviews__btn reviews__btn_left">
			<img src="./src/assets/images/reviews/arrow_left.svg" alt="">
		</button>

		<div class="reviews__slider-wrapper">
			<article class="reviews__slider-item">
				<blockquote class="reviews__slider-item-text">
					Я заказала последний iPhone из США через ваш сервис, и доставка прошла быстро и без каких‑либо проблем.
					Гарантии качества и надёжная упаковка сделали мой опыт покупки невероятно позитивным
				</blockquote>
				<strong class="reviews__slider-item-author">Анна</strong>
			</article>

			<article class="reviews__slider-item">
				<blockquote class="reviews__slider-item-text">
					Я уже несколько лет заказываю дизайнерскую одежду из Франции через ваш сервис, и он никогда меня не подводил.
					Важно иметь надёжную компанию, которая позаботится о вашем заказе и предоставит все необходимые документы
					для ввоза в Россию
				</blockquote>
				<strong class="reviews__slider-item-author">Алексей</strong>
			</article>

			<article class="reviews__slider-item">
				<blockquote class="reviews__slider-item-text">
					Я заказала последний iPhone из США через ваш сервис, и доставка прошла быстро и без каких‑либо проблем.
					Гарантии качества и надёжная упаковка сделали мой опыт покупки невероятно позитивным
				</blockquote>
				<strong class="reviews__slider-item-author">Анна</strong>
			</article>

			<article class="reviews__slider-item">
				<blockquote class="reviews__slider-item-text">
					Я уже несколько лет заказываю дизайнерскую одежду из Франции через ваш сервис, и он никогда меня не подводил.
					Важно иметь надёжную компанию, которая позаботится о вашем заказе и предоставит все необходимые документы
					для ввоза в Россию
				</blockquote>
				<strong class="reviews__slider-item-author">Алексей</strong>
			</article>
		</div>

		<button class="reviews__btn reviews__btn_right">
			<img src="./src/assets/images/reviews/arrow_right.svg" alt="">
		</button>
	</div>
</section>